<template>
  <div>
    <q-input
      outlined
      class="q-pa-md"
      color="orange"
      :placeholder="label"
      :model-value="modelValue"
      @update:model-value="updateInput($event)"
    />
  </div>
</template>

<script>
export default {
  name: 'BaseInput',
  props: {
    label: {
      type: String,
      default: null
    },
    modelValue: {
      type: [String, Number],
      default: null
    }
  },
  emits: ["update:modelValue"],
  methods: {
    updateInput(value) {
      this.$emit('update:modelValue', value)
    }
  }
}
</script>
