<template>
  <div class="flex flex-center">
    <q-form @submit.prevent="postData()" method="post" class="q-pa-md" style="width:60%">
      <!-- Nom de l'objet -->
        <BaseInput
          v-model="formData.nameObj"
          label="Nom de l'objet"
          name="nameObj"
        />
      <!-- Nom de l'auteur -->
        <BaseInput
          label="Auteur / Autrice"
          name="author"
          v-model="formData.author"
        />

      <!-- Dimensions -->
      <q-list>
        <q-item>
          <q-item-section>
            <q-item-label>
              Dimensions (cm)
            </q-item-label>
          </q-item-section>
          <ToggleInput
            v-model="isChecked"
            val="dimension"
          />
        </q-item>
        <BaseInput
          name='dimensions'
          label="Taille Hauteur / Longueur / Profondeur en cm"
          v-model="formData.dimensions"
          v-show="isChecked"
          v-if="isChecked.includes('dimension')"
        />
      </q-list>

      <q-list>
        <q-item>
          <q-item-section>
            <q-item-label>
              Couleur
            </q-item-label>
            <q-item-label>
              <div class="q-gutter-sm">
                <RadioBtn
                  label="Libre"
                  val="Libre"
                  v-model="formData.colorChoice"
                />
                <RadioBtn
                  label="Imposée"
                  val="Imposée"
                  v-model="formData.colorChoice"
                />

              </div>
            </q-item-label>
          </q-item-section>
          <ToggleInput
            v-model="isChecked"
            val="color"
          />
        </q-item>
        <BaseInput
          name='color'
          v-model="formData.color"
          label="Détails"
          v-show="isChecked"
          v-if="isChecked.includes('color')"
        />
      </q-list>

        <!-- Texte présent sur l'objet -->
        <q-list>
          <q-item>
            <q-item-section>
              <q-item-label>
                Texte présent sur l'objet
              </q-item-label>
              <q-item-label>
                <RadioBtn
                  v-model="formData.textChoice"
                  label="Lisible"
                  val="Lisible"
                />
                <RadioBtn
                  v-model="formData.textChoice"
                  label="Ilisible"
                  val="Illisible"
                />
              </q-item-label>
            </q-item-section>
            <ToggleInput
              v-model="isChecked"
              val="textObj"
            />
          </q-item>
          <BaseInput
            name="txtOnObj"
            v-model="formData.txtOnObj"
            label="Texte présent sur l'objet"
            v-show="isChecked"
            v-if="isChecked.includes('textObj')"
          />
        </q-list>

        <!-- Animation -->
      <q-list>
        <q-item>
          <q-item-section>
            <q-item-label>
              Animation
            </q-item-label>
          </q-item-section>
          <ToggleInput
            v-model="isChecked"
            val="animation"
          />
        </q-item>
        <BaseInput
          name="animation"
          v-model="formData.animation"
          label="Animation"
          v-show="isChecked"
          v-if="isChecked.includes('animation')"
        />
      </q-list>

        <!-- Utilité de l'objet -->
      <q-list>
        <q-item>
          <q-item-section>
            <q-item-label>
              Utilité de l'objet
            </q-item-label>
          </q-item-section>
          <ToggleInput
            v-model="isChecked"
            val="utility"
          />
        </q-item>
        <BaseInput
          name="utility"
          v-model="formData.utility"
          label="Utilité de l'objet"
          v-show="isChecked"
          v-if="isChecked.includes('utility')"
        />
      </q-list>

        <!-- Description -->
      <q-list>
        <q-item>
          <q-item-section>
            <q-item-label>
              Description
            </q-item-label>
          </q-item-section>
          <ToggleInput
            val="description"
            v-model="isChecked"
          />
        </q-item>
        <BaseInput
          name="description"
          v-model="formData.description"
          label="Description"
          v-show="isChecked"
          v-if="isChecked.includes('description')"
        />

      </q-list>

        <!-- Externalisé -->
      <q-list>
        <q-item>
          <q-item-section>
            <q-item-label>
              Externaliser
            </q-item-label>
          </q-item-section>
          <ToggleInput
            v-model="isChecked"
            val="externaliser"
          />
        </q-item>
        <BaseInput
          name="externalized"
          label="Rendus attendus"
          v-model="formData.externalized"
          v-show="isChecked"
          v-if="isChecked.includes('externaliser')"
        />
      </q-list>

        <!-- Références visuelles -->
      <q-list>
        <q-item>
          <q-item-section>
            <q-item-label>
              Références visuelles
            </q-item-label>
          </q-item-section>
          <ToggleInput
            v-model="isChecked"
            val="references"
          />
        </q-item>
        <UploadFileInput
          name="images"
          url='https://api-auteur.simango.fr/tests/pdfGenerator.php'
          v-model="formData.files"
          v-show="isChecked"
          v-if="isChecked.includes('references')"
        />
      </q-list>

      <!-- Btn submit -->
      <div class="q-pa-md flex justify-center" v-if="this.link ? isHidden : !isHidden">
        <q-btn type="submit" label="Envoyez vos données"></q-btn>
      </div>
      <!-- Btn download -->
      <!-- <div class="back q-pa-md flex justify-center" v-if="this.link ? !isHidden : isHidden">
        <q-btn @click="postData()">
          Si vous avez effectué un changement, cliquez ici avant de télécharger le PDF
          <q-icon name="refresh">
          </q-icon>
        </q-btn>
      </div> -->
      <div class="q-pa-md flex justify-center" v-if="this.link ? !isHidden : isHidden">
        <q-btn type="submit" label="Download PDF" :href="link" target="_blank" color="green">
          <q-icon name="file_download"></q-icon>
        </q-btn>
      </div>
    </q-form>
  </div>
</template>

<script>
import RadioBtn from "./RadioBtn.vue"
import BaseInput from "./BaseInput.vue"
import ToggleInput from "./ToggleInput.vue"
import UploadFileInput from "./UploadFileInput.vue"

export default {
  name: 'FormComponent',
  data () {
    return {
      isHidden: false,
      isChecked: [],
      formData: {
        colorChoice: '',
        textChoice: '',
        nameObj: '',
        author: '',
        dimensions: '',
        color: '',
        txtOnObj: '',
        animation: '',
        description: '',
        utility: '',
        externalized: '',
        files: []
      },
      link: null,
    }
  },
  methods: {
    postData(){
      const axios = require('axios');
      const formDatas = new FormData();
      const fd = {
        nameObj: this.formData.nameObj,
        author: this.formData.author,
        dimensions: this.formData.dimensions,
        colorChoice: this.formData.colorChoice,
        color: this.formData.color,
        textChoice: this.formData.textChoice,
        txtOnObj: this.formData.txtOnObj,
        animation: this.formData.animation,
        description: this.formData.description,
        utility: this.formData.utility,
        externalized: this.formData.externalized
      }
      // L'image
      if(this.formData.files.length >= 0){
        for(let i = 0; i < this.formData.files.length; i++){
          formDatas.append('image_'+ i, this.formData.files[i]);
          console.log(this.formData.files[i])
        }
      }
      // Les autres données
      formDatas.append('formData', JSON.stringify(fd))
      axios.post('https://api-auteur.simango.fr/tests/pdfGenerator.php', formDatas)
      .then((response) => {
        console.log(response.data)
        this.link = response.data;
      }).catch(error => {
        console.log(error)
        response = 'Error: ' + error.response.status;
      })
    },
  },
  components: {
    BaseInput,
    ToggleInput,
    UploadFileInput,
    RadioBtn
  },
  // watch: {
  //   formData: {
  //     handler(newValue, oldValue){

  //     }
  //   }
  // }
}
</script>

<style>

</style>

