<template>
  <q-header elevated>
    <q-toolbar>
      <img
      class="flex flex-center"
      alt="Quasar logo"
      src="../assets/LogoSimango_Blanc-01.png"
      style="width: 300px;"
      >
      <q-toolbar-title class="flex flex-center">
        Générateur de fiche objet
      </q-toolbar-title>
      <p>{{ today }}</p>
    </q-toolbar>
  </q-header>
</template>

<script>
  export default {
    name: 'HeaderComponent',
    computed: {
      today: function () {
        let today = new Date();
        let fullDate = today.getDate() + `/` + (today.getMonth()+1) + `/` + today.getFullYear();
        return fullDate;
      }
    }
  }
</script>
