<template>
  <q-radio
    :model-value="modelValue"
    checked-icon="task_alt"
    unchecked-icon="panorama_fish_eye"
    :val="val"
    :label="label"
    @update:model-value="updateInput($event)"
  />
</template>

<script>
  export default {
    name:'RadioBtn',
    props: {
      label: {
        type: String,
        default: null
      },
      val: {
        type: String,
        default: null
      },
      modelValue:{
        type: String,
        default: null
      }
    },
    emits: ["update:modelValue"],
    methods: {
      updateInput(value) {
        this.$emit('update:modelValue', value)
      }
    }
  }
</script>
