<template>
  <div>
    <q-toggle
      :model-value="modelValue"
      left-label icon="done"
      :val="val"
      @update:model-value="updateInput($event)"
    >
    </q-toggle>
  </div>
</template>

<script>

export default {
  name: 'ToggleInput',
  props: {
    modelValue: {
      type: Array,
      default: null
    },
    val: {
      type: String,
      default: null
    }
  },
  emits: ["update:modelValue"],
  methods: {
    updateInput(value) {
      this.$emit('update:modelValue', value)
    }
  }

}
</script>
