<template>
  <div>
    <q-file
      label="Choisissez vos fichiers"
      outlined
      class="q-pa-md"
      multiple
      accept=".jpg, .pdf, .jpeg, .png, image/*"
      :url="url"
      :model-value="modelValue"
      @update:model-value="updateInput($event)"
    >
      <template v-slot:prepend>
        <q-icon name="attach_file" />
      </template>
    </q-file>
  </div>
</template>
<script>

export default{
  name: 'UploadFileInput',
  props: {
    label: {
      type: String,
      default: null
    },
    url: {
      type: String,
      default: null
    },
    modelValue: {
      type: Array,
      default: null
    }
  },
  emits: ["update:modelValue"],
  methods: {
    updateInput(value) {
      this.$emit('update:modelValue', value)
    }
  }
}
</script>
