<template>
  <q-layout view="lHh Lpr lFf">
    <HeaderComponent />
    <q-page-container>
      <FormComponent />
    </q-page-container>
  </q-layout>
</template>

<script>
import HeaderComponent from 'src/components/Header.vue'
import FormComponent from 'src/components/Form.vue'

export default {
  name: 'MainLayout',
  components: {
    HeaderComponent,
    FormComponent
  }
  
}
</script>
